<div class="tabla">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>CPU</th>
        <th>Tiempo en sistema</th>
        <th>Prioridades</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tests">
        <td>{{ row.task }}</td>
        <td>{{ row.cpu }}</td>
        <td>{{ row.tiempo }}</td>
        <td>{{ row.priority}}</td>
      </tr>
    </tbody>
  </table>
</div>
<h2>FIFO</h2>
<div class="container">
  <div class="grafica">
    <canvas id="canvas0">{{chart0}}</canvas>
  </div>
  <div class="tabla">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Tiempo de espera</th>
          <th>Tiempo en sistemas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of infoFifo">
          <td>{{ row.task }}</td>
          <td>{{ row.te }}</td>
          <td>{{ row.ts }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h2>SVJ</h2>
<div class="container">
  <div class="grafica">
    <canvas id="canvas1">{{chart1}}</canvas>
  </div>
  <div class="tabla">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Tiempo de espera</th>
          <th>Tiempo en sistemas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of infoSvj">
          <td>{{ row.task }}</td>
          <td>{{ row.te }}</td>
          <td>{{ row.ts }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h2>Priority</h2>
<div class="container">
  <div class="grafica">
    <canvas id="canvas2">{{chart2}}</canvas>
  </div>
  <div class="tabla">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Tiempo de espera</th>
          <th>Tiempo en sistemas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of infoPrio">
          <td>{{ row.task }}</td>
          <td>{{ row.te }}</td>
          <td>{{ row.ts }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
